<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.muntasir.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="WATTS WHAT"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ApplianceAnswers"></activity>
        <activity
            android:name=".UserHistory"
            android:label="User history" />
        <activity
            android:name=".QuizWelcome"
            android:label="Quiz" />
        <activity
            android:name=".ApplianceUsage"
            android:label="Appliance usage" />
        <activity
            android:name=".TestQuestion"
            android:label="@string/title_activity_test_question"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ContactUs"
            android:label="Contact Us" />
        <activity android:name=".PamphletQuestion" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>