<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.muntasir.myapplication">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/manlyenv_foreground"
        android:label="WATTS WHAT"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ContactUsMain"
            android:label="Contact Us"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity android:name=".Exit"
            android:label="Exit"/>
        <activity android:name=".Graph"
            android:label="Graph"/>
        <activity android:name=".QuizAnswers"
            android:label="Quiz input records"/>
        <activity android:name=".ShowScore"
            android:label="The score"/>
        <activity android:name=".QuizAudit"
            android:label="Quiz"/>
        <activity android:name=".ApplianceAnswers" />
        <activity
            android:name=".UserHistory"
            android:label="User history" />
        <activity
            android:name=".QuizWelcome"
            android:label="Quiz" />
        <activity
            android:name=".ApplianceUsage"
            android:label="Appliance usage" />
        <activity
            android:name=".TestQuestion"
            android:label="@string/title_activity_test_question"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ContactUs"
            android:label="Contact Us" />
        <activity android:name=".PamphletQuestion" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>